section {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-auto-flow: dense;
	gap: 10px;
	max-width: 1200px; /* Set a maximum width for your content */
	margin: 0 auto; /* Center the content horizontally */
 }


.site-header {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #00204A;
	padding: 10px;
}

.logo img {
	width: 100%;
	max-width: 100px;
}

nav {
	display: flex;
}

nav ul {
	display: flex;
	align-items: center;
}

nav ul li a {
	display: block;
	margin-right: 20px;
	font-size: 0.925rem;
	color: white;
	text-decoration: none;
}

.car__description--container {
	max-width: 900px;
 }

 .car__titel {
	/* margin: 40px; */
	padding: 20px;
 }