.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-auto-flow: dense;
	gap: 10px;
	border: 1px solid #e40d0d;
}

.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #00204A;
	padding: 10px;
}

.logo img {
	width: 100%;
	max-width: 50px;
}

nav {
	display: flex;
}

nav ul {
	display: flex;
	align-items: center;
}

nav ul li a {
	display: block;
	margin-right: 20px;
	font-size: 0.625rem;
	color: white;
	text-decoration: none;
}

.car__images img {
	width: 100%; /* Set the width to 100% of the parent container */
	max-width: 800px; /* Limit the maximum width of the image */
	height: auto; /* Maintain aspect ratio */
 }
