.car__images {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
 }


 .car__images img {
	width: 100%; /* Set the width to 100% of the parent container */
	max-width: 1000px; /* Limit the maximum width of the image */
	height: auto; /* Maintain aspect ratio */
 }

 .car__image {
	display: none;
	max-width: 100%;
 }
 
 button {
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 10px;
	font-size: 18px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
 }
 
 button:focus {
	outline: none;
 }
 
 button:hover {
	background-color: rgba(0, 0, 0, 0.8);
 }
 
 .prev {
	left: 2%; /* Replace the hardcoded value with a percentage */
 }
 
 .next {
	right: 2%; /* Replace the hardcoded value with a percentage */
 }

 .fa-chevron-right,
 .fa-chevron-left {
	font-size: 2.2em; 
	/* border-radius: 50%;  */
	padding: 0.1em;
 }
 
 .fa-chevron-right {
	margin-left: 10px;
 }
 
 .fa-chevron-left {
	margin-right: 10px;
 } 

 .image-display {
	position: absolute;
	bottom: 10px;
	padding: 10px 20px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 14px;
 }
