.car-card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
}

.car-card {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	overflow: hidden;

}

.car-card__image-wrapper {
	position: relative;
	width: 100%;
	height: auto;
}

.car-card__image {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 4px;
}

.car-card__image:hover {
	transform: scale(1.01);
	transition: transform 0.3s ease;
}




.car-card__year {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 4px 8px;
	font-size: 1rem;
	border-radius: 4px;
	margin: 0;
	z-index: 10;

}

.car-card__info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.car-card__title {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.car-card__price-wrapper {
	border-top: 1px solid #a3a0a0;
	border-bottom: 1px solid #a3a0a0;
	margin-bottom: 10px;
	width: 100%;
}

.car-card__label {
	font-size: 1rem;
	margin: 0;
	text-align: center;
	margin-top: 10px;
}

.car-card__price {
	font-size: 1rem;
	margin: 0;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
	font-size: 2rem;
	font-weight: bold;
}

/* Icon Styling*/
.car-card__icons {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	flex-wrap: wrap;
	font-size: 0.9rem;
	margin-bottom: 10px;
	width: 100%;
}

.car-card__icon {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.car-card__icon-image {
	display: flex;
	justify-content: center;
	width: 100%;
}

.car-card__icon img {
	width: 24px;
	height: 24px;
}

.car-card__icon-text {
	display: flex;
	justify-content: center;
	width: 100%;
}

/* Button Styling */

.car-card__button {
	background-color: var(--primary-color);
	color: var(--text-color);
	border: none;
	padding: 10px 20px;
	margin-top: 10px;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.2s ease;
	width: 100%;
}

.car-card__button:hover {
	background-color: var(--secondary-color);
}