.wrapper {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	gap: 10px;
	background-color: black;

}

.wrapper>* {
	grid-column: col-start / span 12;
}

/* Responsive styles */
@media screen and (min-width: 500px) {
	.main-header {
		grid-column: col-start / span 12;
		padding: 10px;
	}



	.main {
		grid-column: col-start 4 / span 9;
		background-color: beige;
		padding: 10px;
	}

	.sidebar {
		grid-column: col-start / span 3;
		grid-row: 2 / auto;
		background-color: aquamarine;
		padding: 10px;
	}


	.main-footer {
		grid-column: col-start / span 12;
		background-color: aqua;
		padding: 10px;
	}
}

@media screen and (min-width: 800px) {
	.main-header {
		grid-column: col-start / span 12;
	}


	.main {
		grid-column: col-start 3 / span 10;
	}

	.sidebar {
		grid-column: col-start / span 2;
	}


	.main-footer {
		grid-column: col-start / span 12;
	}
}